body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hour,
.minutes,
.seconds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.block {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: gray;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
